
.header{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    position: relative;
    overflow: hidden;
}
.card{
    flex:1;
    padding: 100px;
    padding-right: 0;
    position: relative;
}
.header__child{
    margin-top: 50px;
}
.heading{
    text-transform: uppercase;
    font-size: 50px;
    margin: 0!important;
    padding: 0 !important;
    font-weight: 500;
}
.brandname{
    color: green;
    font-family:inherit;
    font-weight: 900;
}
.para{
    font-size: 20px;
    margin: 30px 0;
}
.btn{
    border: none;
    outline: none;
    color: #fff;
    background-color: green;
    text-transform: uppercase;
    font-size: 15px ;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.img{
    z-index: -2;
}
@media  (max-width:480px) {
    .header{
        flex-direction: column;
        height: auto;
    }
    .card{
       padding: 20px;
       margin-top: 50px;
    }
    .heading{
        font-size: 25px;
    }
    .para{
        font-size: 15px
    }
    .btn{
        font-size: 10px;
    }
    .images{
       display: none;
    }
}
@media (min-width:480px) and (max-width:768px) {
    .header{
        flex-direction: column;
        height: auto;
    }
    .card{
       padding: 35px;
       margin-top: 50px;
    }
    .heading{
        font-size: 30px;
    }
    .para{
        font-size: 20px
    }
    .btn{
        font-size: 15px!important;
    }
    .images{
       width: 80%;
       height: 70%;
       padding: 0 50px;
       margin: 0;
    }
}
@media (min-width:768px) and (max-width:968px){
    .header{
        height: auto;
        flex-direction: column;
    }
    .card{
       padding: 28px;
       margin-top: 50px;
    }
    .heading{
        font-size: 32px !important;
    }
    .para{
        font-size: 23px!important;
    }
    .btn{
        font-size: 18px!important;
    }
    .images{
      width: 80%;
      height: 50%;
      padding: 0 50px;
      margin: 0;
      align-self: center;
    } 
}
@media (min-width:768px) and (max-width:1168px) {
    .header{
        height: auto;
        flex-direction: column;
    }
    .card{
       padding: 35px;
       margin-top: 50px;
    }
    .heading{
        font-size: 40px;
    }
    .para{
        font-size: 25px
    }
    .btn{
        font-size: 23px;
    }
    .images{
      width: 80%;
      height: 50%;
      padding: 0 50px;
      margin: 0;
      align-self: center;
    }
}